<?xml version="1.0" encoding="utf-8"?>

<!--
  有关如何配置 ASP.NET 应用程序的详细信息，请访问
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->

<configuration>
  
  <appSettings>
    <add key="IP" value="127.0.0.1"/>
    <add key="UserName" value="DBOWN"/>
    <add key="Password" value=""/>
    <add key="Port" value="4567"/>

    <add key="DAL" value="DRMS.TPIServerDAL"/>

    <add key="binarydata" value="BINARYDATAVIEW"/>
    <add key="EpmTheme" value="EPM_THEME"/>
    <add key="textdata" value="TEXTDATAVIEW"/>
    <add key="ConfigColum" value="DPM_ConfigColum"/>
    <add key="sysconcept" value="SYS_CONCEPT_DIC"/>
    <add key="Ad" value="DPM_AD"/>

    <add key="Theme" value="DPM_Theme"/>
    <add key="OriginalDataClass" value="DPM_OriginalDataClass"/>
    <add key="OriginalData" value="DPM_OriginalData"/>
    <add key="Mission" value="DPM_Mission"/>
    <add key="Subscribe" value="DPM_Subscribe"/>
    <add key="FavoriteData" value="DPM_FavoriteData"/>
    <add key="UEBookList" value="DPM_UEBookList"/>
    <add key="UEBook" value="DPM_UEBook"/>
    <add key="UserLDB" value="DPM_UserLDB"/>
    <add key="LogicalDataBase" value="DPM_LogicalDataBase"/>
    <add key="Log" value="DPM_Log"/>
    <add key="User" value="DPM_User"/>
    <add key="DataBaseList" value="DPM_DataBaseList"/>
    <add key="Config" value="DPM_Config"/>
    <add key="Org" value="DPM_Org"/>
    <add key="Author" value="DPM_Author"/>
    <add key="Contract" value="DPM_Contract"/>
    <add key="Pic" value="DPM_Pic"/>
    <add key="Audio" value="DPM_Audio"/>
    <add key="Video" value="DPM_Video"/>
    <add key="YearBookArticle" value="DPM_YearBookArticle"/>
    <add key="YearBookYearInfo" value="DPM_YearBookYearInfo"/>
    <add key="NewsPaperArticle" value="DPM_NewsPaperArticle"/>
    <add key="NewsPaperYearInfo" value="DPM_NewsPaperYearInfo"/>
    <add key="NewsPaperInfo" value="DPM_NewsPaperInfo"/>
    <add key="MagazineArticle" value="DPM_MagazineArticle"/>
    <add key="MagazineYearInfo" value="DPM_MagazineYearInfo"/>
    <add key="MagazineInfo" value="DPM_MagazineInfo"/>
    <add key="Stddata" value="DPM_Stddata"/>
    <add key="ConferenceArticle" value="DPM_ConferenceArticle"/>
    <add key="ConferencePaper" value="DPM_ConferencePaper"/>
    <add key="Thesis" value="DPM_Thesis"/>
    <add key="JournalArticle" value="DPM_JournalArticle"/>
    <add key="JournalYearInfo" value="DPM_JournalYearInfo"/>
    <add key="JournalInfo" value="DPM_JournalInfo"/>
    <add key="Chapter" value="DPM_Chapter"/>
    <add key="Subterminology" value="DPM_Subterminology"/>
    <add key="Terminology" value="DPM_Terminology"/>
    <add key="ToolBook" value="DPM_ToolBook"/>
    <add key="Book" value="DPM_Book"/>
    <add key="Attachment" value="DPM_Attachment"/>
    <add key="downloadapply" value="DPM_DOWNLOADAPPLY"/>
    <add key="exporttask" value="DPM_EXPORTTASK"/>
    <add key="exporttasklist" value="DPM_EXPORTTASKLIST"/>
    <add key="ZTFlfCls" value="ZTFLFCLS"/>
    <add key="Department" value="DPM_DEPARTMENT"/>

    <add key="DefaultPWD" value="000000"/>
    <!--虚拟路径标识-->
    <add key="virtualTag" value="1"/>
    
    <!--服务器入库程序路径，可以从注册表中读取-->
    <add key="Worker" value="D:\BatchExportPath\EData.exe"/>
  </appSettings>
  
  <system.web>
    <compilation debug="true" targetFramework="4.0" />
  </system.web>

</configuration>
