<?xml version="1.0"?>
<configuration>
  <appSettings>
    <!-- 资源碎片化工具路径，不指定情况下，将在当前目录cbxmarker文件夹下查找CBXMarkerU.exe -->
    <add key="cbxmarker" value="C:\\Program Files\\同方知网（北京）技术有限公司\\EditBoxPlug\\cbxmarker\\CBXMarkerU.exe"></add>
    <!-- 报纸资源碎片化工具路径，不指定情况下，将在当前目录paper文件夹下查找MagazineProcess.exe -->
    <add key="paper" value="C:\\Program Files\\同方知网（北京）技术有限公司\\EditBoxPlug\\paper\\MagazineProcess.exe"></add>
    <!-- 报纸资源如何选择调用工具，0：调用paper；1：调用cbxmarker -->
    <add key="toolflag" value="0"></add>
  </appSettings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/>
  </startup>
</configuration>
